Repository esgf-compute/jupyterhub-config: changes, and which Jenkins stages are due for each by the changed paths.
All: nimbus-base, nimbus-cdat, nimbus-dev

Jenkinsfile:

pipeline {
  agent none
  environment {
    REGISTRY = "${env.REGISTRY_PRIVATE}"
  }
  stages {
    stage('Publish Search') {
      agent {
        node {
          label 'jenkins-buildkit'
        }

      }
      when {
        branch 'master'
        anyOf {
          expression {
            return params.FORCE_BUILD_CONDA
          }

          changeset '**/esgf_search/**'
        }

      }
      environment {
        CONDA_TOKEN = credentials('conda-token')
      }
      steps {
        container(name: 'buildkit', shell: '/bin/sh') {
          sh '''#! /bin/sh
make build-search CONDA_TOKEN=${CONDA_TOKEN}
          '''
        }

      }
    }

    stage('Containers') {
      when {
        anyOf {
          branch 'master'
          branch 'devel'
        }
      }
      stage('nimbus-base') {
        agent {
          node {
            label 'jenkins-buildkit'
          }
        } 
        when {
          changeset 'dockerfiles/nimbus_base/*'
        }
        steps {
          container(name: 'buildkit', shell: '/bin/sh') {
            sh 'cp /ssl/*.crt .'

            sh '''#! /bin/sh
make build-base
            '''
        }
      }
      stage('nimbus-cdat') {
        agent {
          node {
            label 'jenkins-buildkit'
          }
        }
        when {
          anyOf {
            changeset 'dockerfiles/nimbus_base/*'
            changeset 'dockerfiles/nimbus_cdat/*'
          }
        }
        steps {
          container(name: 'buildkit', shell: '/bin/sh') {
            sh 'cp /ssl/*.crt .'

            sh '''#! /bin/sh
make build-cat
            '''
          }
        }
      }
      stage('nimbus-dev') {
        agent {
          node {
            label 'jenkins-buildkit'
          }
        }
        when {
          anyOf {
            changeset 'dockerfiles/nimbus_base/*'
            changeset 'dockerfiles/nimbus_dev/*'
          }
        }
        steps {
          container(name: 'buildkit', shell: '/bin/sh') {
            sh 'cp /ssl/*.crt .'

            sh '''#! /bin/sh
make build-dev
            '''
          }
        }
      }
    }
  }
}

Fixes jenkinsfile
  Jenkinsfile
Due: none

Updates jenkinsfile
  Jenkinsfile
Due: none

Fixes building esgf_search python module
  Makefile
  dockerfiles/esgf_search/Dockerfile
Due: none

Fixes target name
  Jenkinsfile
Due: none

Fixes branch name
  Jenkinsfile
Due: none

Fixes terminology
  Makefile
  dockerfiles/esgf_search/Dockerfile
  dockerfiles/nimbus_base/Dockerfile
  dockerfiles/nimbus_cdat/Dockerfile
  dockerfiles/nimbus_dev/Dockerfile
Due: nimbus-base, nimbus-cdat, nimbus-dev

Fixes makefile
  Makefile
Due: none

Updates BASE_IMAGE_TAG in makefile
  Makefile
Due: none

Bump version: 1.0.0 → 1.0.1
  dockerfiles/nimbus_base/.bumpversion.cfg
  dockerfiles/nimbus_base/VERSION
Due: nimbus-base, nimbus-cdat, nimbus-dev

Bump version: 1.0.0 → 1.0.1
  dockerfiles/nimbus_cdat/.bumpversion.cfg
  dockerfiles/nimbus_cdat/VERSION
Due: nimbus-cdat

Bump version: 1.0.2 → 1.0.3
  dockerfiles/nimbus_dev/.bumpversion.cfg
  dockerfiles/nimbus_dev/VERSION
Due: nimbus-dev

Updates image
  Makefile
Due: none

Bump version: 1.0.1 → 1.0.2
  dockerfiles/nimbus_base/.bumpversion.cfg
  dockerfiles/nimbus_base/VERSION
Due: nimbus-base, nimbus-cdat, nimbus-dev

Bump version: 1.0.1 → 1.0.2
  dockerfiles/nimbus_cdat/.bumpversion.cfg
  dockerfiles/nimbus_cdat/VERSION
Due: nimbus-cdat

Bump version: 1.0.3 → 1.0.4
  dockerfiles/nimbus_dev/.bumpversion.cfg
  dockerfiles/nimbus_dev/VERSION
Due: nimbus-dev
